<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/photon.css">
    <title>Nucleus</title>
</head>

<body>
    <ul id="content" class="list-group">
        <li class="list-group-header">
            <input class="form-control" type="text" placeholder="Search front page">
        </li>
    </ul>

    <!-- Scripts -->
    <script>window.$ = window.jQuery = require('../node_modules/jquery/dist/jquery.js');</script>
    <script src="../js/reddit.js"></script>
</body>

</html>